.Main_container_for_creating_job {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}


.navigation_bar_for_creating_job {
  border-bottom: 1px solid rgb(153, 153, 153); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.logo_and_name_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20vw;
}

.job_creating_container
{
  display: flex;
  flex-direction: column;
  height: 90%;
  width: 100%;
}



.title_of_job_container
{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}

.textbox_for_title_of_job
{
  height: 20px;
}

.job_title_style
{
  width: 600px;
  height: 30px;
  border-radius: 10px;
  background-color: aliceblue;
  border: none;
  outline: none;
}





.description_of_job_container
{
  padding-left: 100px;
  display: flex;
  flex-direction: column;
}


.job_title_textbox_style
{
  width: 600px;
  height: 130px;
  border-radius: 10px;
  background-color: aliceblue;
  border: none;
  outline: none;
  vertical-align: top; /* Aligns text at the top */
  text-align: start;
}











