.bruh
{
  height: 20px;
  width: 20px;
  border: 1px solid rgb(0, 0, 0);
}

.small_text
{
  font-size: smaller;
}

.border
{
  display: flex;
  align-items: center;
  height: 20px;
  color: red;
}
.signup-containerr
{
  
 
  flex-direction: column;
  width: 400px;
  height: 680px;
  
  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around;
  border-left:  4px solid rgb(189, 232, 255);
  
  
  
}
/* General background color */
body {
  
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main container styling */
.mein_container {
  background-image: url('../images/image9.jpg');
  background-color: #e9e5d7;
  height: 726px;
  width: 1534px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Small container styling */
.asmall_container {
  box-shadow: 0 0 10px rgb(80, 75, 251);
  background-color: white;
  padding: 0px;
  border: 1px solid #FFFFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border-radius: 60px;
}



/* Image container styling */
.image_container {
  overflow: hidden;
  object-fit: cover;
}

/* Back link styling */
.back-link {
  position: fixed;
  left: 10px;
  top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}


h1 {
  text-align: center;
}

.form-groupp {

  justify-content: center;
  
  width: 200px;
  height: 100PX;
}


label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 120%;
  
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Password requirements styling */
.password-requirements {
  font-size: 0.9em;
  color: #555;
}



/* Checkbox styling */
input[type="checkbox"] {
 
}

/* Signup button styling */
.signup-buttonn {
  width: 200px;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgb(84, 46, 198);
  color: white;
  font-size: 16px;
}

/* Login link styling */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #00f;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline; /* Added underline on hover */
}

.first_div
{
  text-align: center;
  
  width: 80%;
  background-color: rgb(84, 46, 198);
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  margin-right: -100px;
}

.button_div
{
  
  flex-direction: column;
  display: flex;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  
}

.textbox_container
{
  
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 450px;
  
}
.textbox_size
{
  width: 250px;
  
  align-items: center;
  gap: 100px;
  display: flex;
  border-radius: 5px;
}

.m{
 
  flex-direction: column;
  display: flex;
  gap: 40px;
  width: 250px;
 

  
  align-items: center;
}

.sizee
{
  width: 50px;
}

.textbox_container_gap
{
  flex-direction: column;
  display: flex;
  
  gap: 10px;
}

.as{
  
  flex-direction: column;
  display: flex;
  height: 500px;
  gap: 40px;
  border: 1px solid rgb(153, 94, 253);
  border-radius: 15px;
  padding: 20px;
  
}

.forgot_link_size
{
  font-size: small;
}

.new_button_css
{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.new_button
{
  border-radius: 10px;
  border: 1px solid rgb(153, 94, 253);
}

hr
{
  border: 1px solid rgb(142, 142, 142);
  width: 100%;
}


/* In your CSS file (e.g., Login.css) */
.warning {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.warning.show {
  opacity: 1;
}
