.bruh
{
  height: 20px;
  width: 20px;
  border: 1px solid rgb(0, 0, 0);
}
.signup-containerr
{
  
 
  flex-direction: column;
  width: 400px;
  height: 680px;

  display: flex; /* Use Flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center; /* Center items horizontally */
  justify-content: space-around;
  border: 1px solid rgb(0, 0, 0);
   
  
  
}
/* General background color */
body {
  
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Main container styling */
.mein_container {
  background-image: url('../images/image9.jpg');
  background-color: #e9e5d7;
  height: 726px;
  width: 1534px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* Small container styling */
.asmall_container {
  box-shadow: 0 0 10px #FFFFF5;
  background-color: white;
  padding: 0px;
  border: 1px solid #FFFFF5;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  object-fit: cover;
  border-radius: 60px;
}

.for_image
{
  
}

/* Image container styling */
.image_container {
  overflow: hidden;
  object-fit: cover;
}

/* Back link styling */
.back-link {
  position: fixed;
  left: 10px;
  top: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}


h1 {
  text-align: center;
}

.form-groupp {

  justify-content: center;
  
  width: 200px;
  height: 100PX;
}


label {
  display: block;
}

input[type="email"],
input[type="password"] {
  width: 120%;
  
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Password requirements styling */
.password-requirements {
  font-size: 0.9em;
  color: #555;
}



/* Checkbox styling */
input[type="checkbox"] {
 
}

/* Signup button styling */
.signup-buttonn {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgb(84, 46, 198);
  color: white;
  font-size: 16px;
}

/* Login link styling */
.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #00f;
  text-decoration: none;
}

.login-link a:hover {
  text-decoration: underline; /* Added underline on hover */
}

.first_div
{
  text-align: center;
  
  width: 80%;
  border: 1px solid rgb(17, 255, 223);
  background-color: rgb(80, 255, 129);
  color: white;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.button_div
{
  flex-direction: column;
  display: flex;
  border: 1px solid black;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.textbox_container
{
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.textbox_size
{
  width: 200px;
}

.m{
  border: 1px solid black;
  flex-direction: column;
  display: flex;
  
  gap: 10px;
  width: 250px;
}