
.Main_container 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}
  
  
.navigation_bar 
{
  border-bottom: 1px solid rgb(153, 153, 153); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  top: 0px;
}
  
.logo_and_name_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20vw;
}
  
  
.login
{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
  
  
  
.Database_item_storing_container_for_when_seeing_specific_job 
{  
  width: 100%;
  height: 100%;
  margin-top: 30px; 
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.item_for_when_seeing_job_info 
{ 
  display: flex;                           /* Өгөгдлийн сангийн мэдээлэл нэг тус бүрийн CSS*/
  flex-direction: row;
  background-color: rgb(255, 255, 255);
  width: 9000px;
  height: 600px;
  justify-content: space-evenly;
  border-radius: 30px;
  margin-left: 50px;
}









.section_1
{
  display: flex;                          
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  width: 70%;
 

}

.section_2
{
  margin-top: 70px;
  display: flex;                          
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 50%;
  width: 20%;

}
  
  


  
  
.title_of_job_when_seeing_job_info
{
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
 
}
  
.image_container_of_profile
{
  height:100%;
  width: 20%;
  border: 1px solid #000000;
}
  
  
  
  
  
  
  
  
.description_of_job_when_seeing_job
{
  height: 150px;
  width: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #8f8f8f;
  
}
  
  
.time_type_of_job_when_seeing_job
{
  width: 100%;
  height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border: 1px solid #f51e1e;
}
  
.body_when_seeing_job_info 
{
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
  
  
.button_css
{
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  background-color: rgb(84, 46, 198);
  display: flex;
  color: #f1f1f1;
}
  
  
  

  
.image_container_for_item_1
{
  height: 15px;
  width: 15px;
  display: flex;
}
  
  
img 
{
  max-width: 100%;
  max-height: 100%;
}
  


.jijig_medeelluud_container
{
  width: 90%;
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 25px;
}

.jijig_info
{
  width: 20%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;


}

.small_items_when_seeing_job_info
{
  height: 30px;
  width: 170px;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.test_box
{
  height: 570px;
  width: 300px;
}



.Big_container_that_stores_job_title_and_job_description_when_seeing_job_info
{

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-around;
  height: 200px;
  width: 100%;
 
  
}

.Ajliin_tuhai_container
{
  display: flex;
  flex-direction: column;
  height: 180px;
  width: 90%;
}



.ajil
{
  height: 90%;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;

}









.tsalin_container_when_seeing_job
{
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  width: 90%;
  
  background-color: rgb(252, 252, 168);
}


.utasnii_dugaar_container_when_seeing_job
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  background-color: rgb(188, 219, 175);
  border-radius: 10px;
}

.phone_icon_container
{
  height: 40px;
  width: 40px;

}
  

img {
  max-width: 100%;
  max-height: 100%;
}
  
  
  
  

.email_container_when_seeing_job
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  background-color: rgb(238, 197, 255);
  border-radius: 10px;
}

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  