.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  position: fixed;
  left: 35%;
  top: 1%;
}
.main_container
{
  justify-content: center;
  align-items: center;
}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-requirements {
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #555;
}

.password-requirements p {
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.signup-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #f0a;
  color: white;
  font-size: 16px;
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #00f;
}
