/*
background-color: #e9e5d7;
*/

.signup-container {
  
  width: 40%;
  height: 85%;
  padding: 20px; 
  background-color: #fff;
  
  
  
 
}
.main_container
{
  
  background-image: url('../images/image10.jpg');
  background-color: #e9e5d7;
  height: 726px;
  width: 1534px;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.small_container
{
  box-shadow: 0 0 10px rgb(86, 238, 255);
  background-color: white;
  padding: 0px;
  border: 1px solid rgb(157, 224, 255);
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  object-fit: cover;
  border-radius: 60px;
}
.image_container
{
  
  overflow: hidden;
  object-fit: cover;
  
  

}

.back-link {
  display: inline-block;
  margin-bottom: 20px;
  text-decoration: none;
  color: #333;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  justify-content: center;
  margin-bottom: 15px;
  width: 300px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 60%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.password-requirements {
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #555;
}

.password-requirements p {
  margin: 5px 0;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.signup-button {
  width: 50%;
  padding: 10px;
  border: none;
  border-radius: 50px;
  background-color: rgb(84, 46, 198);
  color: white;
  font-size: 16px;
  
}

.login-link {
  text-align: center;
  margin-top: 20px;
}

.login-link a {
  color: #00f;
}

.centerer
{
  
  justify-content: center;
}
