
.Main_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
}


.navigation_bar {
  border-bottom: 1px solid rgb(153, 153, 153); 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  position: fixed;
  background-color: white;
  top: 0px;
}

.logo_and_name_container
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20vw;

}


.login{
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}



.Database_item_storing_container {  /* Энэ нь Welcome page дээрх өгөгдлийн сангийн мэдээллүүдийг харуулж аврага том container-ын CSS*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  width: 85%;
  margin-top: 15px; 
  margin-left: 10px;

}

.item { 
  display: flex;                           /* Өгөгдлийн сангийн мэдээлэл нэг тус бүрийн CSS*/
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 20px;
  width: 100%;
  align-items: center;
  border-radius: 13px;
}





.title_of_job
{
  height: 50px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}

.image_container_of_profile
{
  height:100%;
  width: 20%;
  border: 1px solid #000000;
}








.description_of_job
{
  height: 150px;
  width: 100%;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  color: #8f8f8f;
  
}


.time_type_of_job
{
  width: 100%;
  height: 50px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; 
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}


.button_css
{
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 30px;
  background-color: rgb(84, 46, 198);
  display: flex;
  color: #f1f1f1;
}



.item_1
{

  height: 35px;
  width: 85px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.image_container_for_item_1
{
  height: 15px;
  width: 15px;
  display: flex;

}


img {
  max-width: 100%;
  max-height: 100%;
}

.tsalin_bolon_harah_button_container
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  width: 100%;
}



























































